{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer" style="padding-left: 0; padding-right: 0;">
    <div class="inner" style="max-width: none;">

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            <section class="post-full-content" style="padding-left: 0; padding-right: 0;">
                <div class="post-content" style="max-width: none;">
                    {{content}}
                </div>
            </section>

        </article>

    </div>
</main>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
$(function() {
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
});
</script>
{{/contentFor}}
